pt.isel.leim.icd/connectfour/res/schemas/types/Color.xsd

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:complexType name="ColorType">
        <xs:sequence>
            <xs:element name="red" type="xs:int"/>
            <xs:element name="green" type="xs:int"/>
            <xs:element name="blue" type="xs:int"/>
            <xs:element name="alpha" type="xs:int"/>
            <xs:element name="rgb" type="xs:int"/>
            <xs:element name="colorSpace" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
