x/Examples/aula2/WebContent/xml/teste.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="poema">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="autor" type="xs:string"/>
				<xs:element name="título" type="xs:string"/>
				<xs:element name="estrofe" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="verso" maxOccurs="unbounded" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
