pt.isel.leim.icd/connectfour/res/schemas/AskLoginMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:element name="AskLogInMessage" type="AskLogInMessageType"/>

    <xs:complexType name="AskLogInMessageType">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
