pt.isel.leim.icd/connectfour/res/schemas/DropTokenMessage.xsd

<?xml version="1.0" encoding="UTF-8" ?>


<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:element name="DropTokenMessage" type="DropTokenMessageType"/>

    <xs:complexType name="DropTokenMessageType">
        <xs:sequence>
            <xs:element name="column" type="xs:int"></xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>