pt.isel.leim.icd/connectfour/res/schemas/GameStatMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:element name="GameStat" type="GameStatType"/>

    <xs:complexType name="GameStatType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="result" type="xs:string"/>
            <xs:element name="time" type="xs:time"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
