pt.isel.leim.icd/connectfour/res/schemas/GiveLoginAcceptedMessage.xsd

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:include schemaLocation="AskUpdateProfileMessage.xsd"/>
    <xs:include schemaLocation="GiveGamesStatsMessage.xsd"/>

    <xs:element name="GiveLoginAcceptedMessage" type="GiveLoginAcceptedMessageType">
    </xs:element>

    <xs:complexType name="GiveLoginAcceptedMessageType">
        <xs:sequence>
            <xs:element name="authenticated" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>