pt.isel.leim.icd/connectfour/res/schemas/GiveGamesStatsMessage.xsd

<?xml version="1.0" encoding="UTF-8" ?>


<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:include schemaLocation="GameStatMessage.xsd"/>

    <xs:element name="GiveGamesStatsMessage" type="GiveGamesStatsMessageType"/>


    <xs:complexType name="GiveGamesStatsMessageType">
        <xs:sequence>
            <xs:element name="GamesStats" type="GamesStatsType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GamesStatsType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element ref="GameStat"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>