pt.isel.leim.icd/connectfour/res/schemas/GiveUpdatedProfileMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">


    <xs:element name="GiveUpdatedProfileMessage" type="GiveUpdatedProfileMessageType"/>

    <xs:complexType name="GiveUpdatedProfileMessageType">
        <xs:sequence>
            <xs:element name="image" type="xs:string"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
            <xs:element name="nationality" type="xs:string"/>
            <xs:element name="age" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>