pt.isel.leim.icd/connectfour/res/schemas/PongMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://icd.leim.isel.pt/connectfour/messages"
        xmlns:tns="http://icd.leim.isel.pt/connectfour/messages">

    <xs:element name="PongMessage" type="tns:PongMessageType"/>

    <xs:complexType name="PongMessageType">
        <xs:sequence>
            <xs:element name="dateTime" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
