x/Examples/aulaCalc/xml/calc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="calculadora">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="operacao">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="soma"/>
							<xs:enumeration value="sub"/>
							<xs:enumeration value="mult"/>
							<xs:enumeration value="div"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="op1" type="xs:decimal"/>
				<xs:element name="op2" type="xs:decimal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
