connectfour/res/schemas/GiveOpponentFoundMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:element name="GiveOpponentFoundMessage" type="GiveOpponentFoundMessageType"/>

    <xs:complexType name="GiveOpponentFoundMessageType">
        <xs:sequence>
            <xs:element name="opponentusername" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>