connectfour/res/schemas/OnTokenNotDroppedMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:include schemaLocation="types/Color.xsd"/>

    <xs:element name="OnTokenNotDroppedMessage" type="OnTokenNotDroppedMessageType"/>

    <xs:complexType name="OnTokenNotDroppedMessageType">
        <xs:sequence>
            <xs:element name="column" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
