othello/src/main/resources/schemas/PingMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">

    <xs:element name="PingMessage" type="PingMessageType"/>

    <xs:complexType name="PingMessageType">
        <xs:sequence>
            <xs:element name="dateTime" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
